body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 25px;
    text-align: center;
}
.container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/home_page.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(5px);
    z-index: 1;
}

.container img {
    width: 100%;
    height: 300px;
    background-color: #ccc;
    background-position: center top;
    object-fit: cover;
    z-index: 2;
}

.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.description {
    max-height: calc(100vh - 300px);
    margin: auto 0px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60%;
    border-radius: 26px;
    padding: 24px 24px;
    backdrop-filter: blur(7px);
}

.description li {
    padding: 3px;
    list-style: none;
}

.description h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recently-posts a {
    font-size: 18px;
    color: #0077cc;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    text-decoration: none;
    white-space: nowrap;
}

.recently-posts a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #0077cc, #00aaff);
  transition: width 0.3s ease;
}

.recently-posts a:hover {
  color: #005fa3;
}

.recently-posts a:hover::after {
  width: 100%;
}
